#title{
    color:black;
    background: #e3f4ff;
    font-size: 38px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 18px;
    margin-bottom:8px;
}
.subtitle1,.subtitle2{
    color: red;
    padding: 10px;
    margin-bottom:8px;
    font-size: 28px;
    border:solid grey;

}

#lasagna,#Macaroni{

    font-size: 38px;
}

